<?xml version="1.0"?>
<launch>
	<arg name="scene" default="$(find agile_robotics_industrial_automation)/config/araic.scene"/>
	<include file="$(ur10_moveit_config)/launc/ur10_moveit_planning_execution.launch">
		<arg name="sim" value="true"/>
	</include>
	<node name="moveit_publish_scene_from_text" pkg="moveit_ros_planning" type="moveit_publish_scene_from_text" arg="$(arg scene_file)"/>
</launch>